[alias]
	aliases = ! git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
	amend = commit --amend --no-edit
	backup = ! git stash save --include-untracked $1 && git stash apply
	branch-name = ! git branch | grep \\* | cut -d ' ' -f2
	ignorefy = ! get rm -r --cached . && git add .
	master = checkout master
	new-branch = ! git checkout -b
	post = ! git push --set-upstream origin $(git branch-name)
	rename-branch = branch -m
	rm-branch = ! git branch -d
	rm-submodule = ! ~/.gitscripts/rm-submodule.sh 
	state = status -sb
	sync = ! git fetch --all && git rebase origin/$(git br)
	trash = ! git fetch && git reset --hard origin/$(git branch-name)
	tree = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	autocrlf = true
	longpaths = true
[merge]
	conflictstyle = diff3
[user]
	email = zaidnackasha22@gmail.com
	name = GreenArrow
